#latex
/documen.synctex.gz
/document.aux
/document.log
/document.toc
/document.pdf
/tmp
/document.synctex.gz
*.aux
*.log
*.pdf
*.gz

# Eclipse

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
/Anwendungsfälle.pdf
/Anwendungsfälle.synctex.gz
/fragen.pdf
/fragen.synctex.gz
