@* * Diese Seite zeigt die Betruer dem Admin an. * Dafür wird eine Liste
an Betreuer übergeben. * Zusätlich gibt es noch einen Parameter für eine
Fehlermeldung. *@ @(advisers: List[data.Adviser],error: String)

@if(!error.isEmpty()){
<div class="alert alert-danger" role="alert">@error</div>
}
<h1>@Messages("admin.sidebar.adviser")</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>@Messages("admin.advisers.name")</th>
			<th>@Messages("admin.advisers.email")</th>
			<th>@Messages("admin.advisers.projectCount")</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for(adviser <- advisers) {
		<tr>
			<td>@adviser.getName()</td>
			<td>@adviser.getEmailAddress()</td>
			<td>@adviser.getProjects.size()</td>
			<td><form
					action="@controllers.routes.GeneralAdminController.removeAdviser().path()"
					method="POST" class="form-inline">
					<input type="hidden" name="id" id="id-@adviser.getId()"
						value="@adviser.getId()">
					<button type="submit" class="btn btn-default">@Messages("admin.advisers.form.removeAdviser")</button>
				</form></td>
		</tr>
		}
	</tbody>
</table>
<form
	action="@controllers.routes.GeneralAdminController.addAdviser().path()"
	method="POST" class="form-inline">

	<div class="form-group">
		<label for="firstName">@Messages("index.registration.form.firstName")</label>
		<input type="text" class="form-control" name="firstName"
			id="firstName">
	</div>

	<div class="form-group">
		<label for="lastName">@Messages("index.registration.form.lastName")</label>
		<input type="text" class="form-control" name="lastName" id="lastName">
	</div>

	<div class="form-group">
		<label for="email">@Messages("index.registration.form.email")</label>
		<input type="email" class="form-control" name="email" id="email">
	</div>
	<div class="form-group">
		<label for="password">@Messages("index.registration.form.password")</label>
		<input type="password" class="form-control" name="password"
			id="password">
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-default">@Messages("admin.advisers.form.addAdviser")</button>
	</div>
</form>
