@* * Diese Seite zeigt die Projekte dem Admin an. * Dafür wird eine
Liste an verfügbaren Projekten übergeben. * Zusätzlich kann eine
Fehlermeldung übergeben werden. *@ @(projects: List[data.Project],
error: String) @if(!error.isEmpty()){
<div class="alert alert-danger" role="alert">@error</div>
}
<h1>@Messages("admin.sidebar.projects")</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>@Messages("admin.projects.name")</th>
			<th>@Messages("admin.projects.institute")</th>
			<th>@Messages("admin.projects.url")</th>
			<th>@Messages("admin.projects.advisers")</th>
			<th>@Messages("admin.projects.teamSize")</th>
			<th>@Messages("admin.projects.numberOfTeams")</th>
		</tr>
	</thead>
	<tbody>
		@for(project <- projects) {
		<tr>
			<td>@project.getName()</td>
			<td>@project.getInstitute()</td>
			<td>@project.getProjectURL()</td>
			<td>@for(adviser <- project.getAdvisers()) { adviser.getName() </br>}
			</td>
			<td>@project.getMinTeamSize() - @project.getMaxTeamSize()</td>
			<td>@project.getNumberOfTeams()</td>
		</tr>
		}
	</tbody>
</table>
<form
	action="@controllers.routes.AdminProjectController.addProject.path()"
	method="POST" class="form-inline">

	<div class="form-group">
		<label for="name">@Messages("admin.projects.name")</label> <input
			type="text" class="form-control" name="name" id="name">
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-default">@Messages("admin.projects.addProject")</button>
	</div>
</form>
