@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(content: Html)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main("Elipse - Studentenportal", {val map = new HashMap[String, String];
map.put("Projektleiter", controllers.routes.AdminPageController.adviserPage().path());
map.put("Projekte", controllers.routes.AdminPageController.projectPage().path());
map.put("Einteilung", controllers.routes.AdminPageController.allocationPage().path());
map.put("Einteilungsergebnisse", controllers.routes.AdminPageController.resultsPage().path());
map.put("Export/Import", controllers.routes.AdminPageController.exportImportPage().path());
map.put("Studenten hinzufügen/löschen", controllers.routes.AdminPageController.studentEditPage().path());
map.put("Einstellungen", controllers.routes.AdminPageController.propertiesPage().path());
map}) {null} {@content}