@* * Diese Seite zeigt die Einteilungskonfiguration dem Admin an. *
Dafür wird eine AllocationQueue benötigt und die Liste an verfügbaren *
Einteilungs-Kriterien. Zusätzlich kann eine Fehlermeldung übergeben
werden. *@ @(allocQueue: allocation.AllocationQueue, criteria:
List[allocation.Criterion]) @if(flash.containsKey("error")) {
<div class="alert alert-danger" role="alert">@flash.get("error")</div>
} 
<script type="text/javascript"
	src='@routes.Assets.versioned("javascripts/bootstrap-slider.min.js")'></script>
<link rel="stylesheet"
	href='@routes.Assets.versioned("stylesheets/bootstrap-slider.min.css")'
	type="text/css" />
<h1>@Messages("admin.sidebar.allocation")</h1>
<div>
	<h3>
		<small>@Messages("admin.allocation.newAllocation")</small>
	</h3>
	<form
		action="@controllers.routes.GeneralAdminController.addAllocation().path()"
		method="POST" class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">@Messages("admin.allocation.configName")</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="name" id="name">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="minTeamSize">@Messages("admin.projects.minSize")</label>
			<div class="col-sm-3">
				<input type="number" class="form-control" name="minTeamSize"
					id="minTeamSize" value="0">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="preferedTeamSize">@Messages("admin.allocation.preferedTeamSize")</label>
			<div class="col-sm-3">
				<input type="number" class="form-control" name="preferedTeamSize"
					id="preferedTeamSize" value="0">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="maxTeamSize">@Messages("admin.projects.maxSize")</label>
			<div class="col-sm-3">
				<input type="number" class="form-control" name="maxTeamSize"
					id="maxTeamSize" value="0">
			</div>
		</div>
		@for(criterion <- criteria) {
		<div class="form-group bs-slider-group">
			<label class="control-label col-sm-2" for="@criterion.getName()">@criterion.getDisplayName(ctx().lang().code())</label>
			<div class="col-sm-3">
				<!-- Bootstrap Slider -->
				<script type="text/javascript">
					$('#@criterion.getName()')
							.slider(
									{
										formatter : function(value) {
											return '@Messages("admin.allocation.curValue"): '
													+ value;
										}
									});
				</script>
				<input class="bs-slider" name="@criterion.getName()" id="@criterion.getName()"
					data-provide="slider" data-slider-id='@criterion.getName()'
					type="text" data-slider-min="0" data-slider-max="100"
					data-slider-step="1" data-slider-value="0" />
			</div>
		</div>
		}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">@Messages("admin.allocation.addToQueue")</button>
			</div>
		</div>
	</form>
</div>
<div>
	<h3>
		<small>@Messages("admin.allocation.queue")</small>
	</h3>
	<form
		action="@controllers.routes.GeneralAdminController.removeAllocationFromQueue().path()"
		method="POST" class="form-horizontal">
		<select name="queue" id="queue" size="allocQueue.getQueue().size()">
			@for(configuration <- allocQueue.getQueue()) {
			<option value="@configuration.getName()">@configuration.getName()</option>
			}
		</select>
		<div class="form-group">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-default">@Messages("admin.allocation.removeFromQueue")</button>
			</div>
		</div>
	</form>
</div>