@* * Diese Seite zeigt die Ergebnisse der Einteilung dem Admin an. *
Dafür wird eine Liste an Einteilungen benötigt und die Liste an
verfügbaren * Qualitätskriterien. Zusätzlich kann eine Fehlermeldung
übergeben werden. *@ @(allocations: List[data.Allocation], criteria:
List[qualityCriteria.QualityCriterion], error: String)
@if(!error.isEmpty()){
<div class="alert alert-danger" role="alert">@error</div>
}
<div>
	<h1>@Messages("admin.sidebar.results")</h1>
	<!-- Nav tabs -->
	<script type="text/javascript">
		$(function() {
			$('#allocation-tabs a:first').tab('show');
		});
		$('#allocation-tabs a').click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		})
	</script>
	<ul class="nav nav-tabs" role="tablist" id="allocation-tabs">
		@for(allocation <- allocations) {
		<li role="presentation"><a href="#@allocation.getName()"
			aria-controls="@allocation.getName()" role="tab" data-toggle="tab">@allocation.getName()</a></li>
		}
		<li role="presentation"><a href="#comparison"
			aria-controls="comparison" role="tab" data-toggle="tab">@Messages("admin.results.comparison")</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		@for(allocation <- allocations) {
		<div role="tabpanel" class="tab-pane" id="@allocation.getName()">
			<div class="row">
				<form>
					<input type="hidden" name ="allocationID" value="@allocation.getId()">
					<div class="col-sm-6 col-md-6">
						@for(team <- allocation.getTeams()) {
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>@team.getProject().getName() - Team
										#@team.getTeamNumber()</th>
								</tr>
							</thead>
							<tbody>
								@for(member <- team.getMembers()) {
								<tr>
									<td><input type="checkbox" name="@member.getId()"
										id="@member.getId()"></td>
									<td>@member.getName()</td>
								</tr>
								}
							</tbody>
						</table>
						}
					</div>
					<div class="col-sm-6 col-md-6">

						<div class="form-group">
							<label class="control-label col-sm-1" for="rpw">@Messages("admin.results.to")</label>
							<div class="col-sm-3">
								<select name="project-selection" id="project-selection"> @for(team <-
									allocation.getTeams()) {
									<option
										value="@team.getId()">@team.getProject().getName()
										- Team #@team.getTeamNumber()</option> }
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="move" class="btn btn-default">@Messages("admin.results.moveMarkedStudents")</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="exchange" class="btn btn-default">@Messages("admin.results.exchangeTwoStudents")</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		}
		<div role="tabpanel" class="tab-pane" id="comparison">
			<div class="row">
				@for(allocation <- allocations) {
				<div class="col-sm-6 col-md-6">
					<h3>
						<small>@allocation.getName()</small>
					</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>@Messages("admin.results.qualityCriterion")</th>
								<th>@Messages("admin.results.value")</th>
							</tr>
						</thead>
						<tbody>
							@for(criterion <- criteria) {
							<tr>
								<td>@criterion.getName(messages.lang().code())</td>
								<td>@criterion.calculate(allocation)</td>
							</tr>
							}
						</tbody>
					</table>
				</div>
				}
			</div>
		</div>
	</div>
</div>
