@* * Diese Seite zeigt die Ergebnisse der Einteilung dem Admin an. *
Dafür wird eine Liste an Einteilungen benötigt und die Liste an
verfügbaren * Qualitätskriterien. Zusätzlich kann eine Fehlermeldung
übergeben werden. *@ @(allocations: List[data.Allocation], criteria:
List[qualityCriteria.QualityCriterion])
<div>
	<h1>@Messages("admin.sidebar.results")</h1>
	<!-- Nav tabs -->
	<script type="text/javascript">
		$(function() {
			$('#allocation-tabs a:first').tab('show');
		});
		$('#allocation-tabs a').click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		})
	</script>
	<ul class="nav nav-tabs" role="tablist" id="allocation-tabs">
		@for(allocation <- allocations) {
		<li role="presentation"><a href="#allocation-@allocation.getId()"
			aria-controls="@allocation.getName()" role="tab" data-toggle="tab">@allocation.getName()</a></li>
		}
		<li role="presentation"><a href="#comparison"
			aria-controls="comparison" role="tab" data-toggle="tab">@Messages("admin.results.comparison")</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		@for(allocation <- allocations) {
		<!-- Einteilungseditierungsseite -->
		<div role="tabpanel" class="tab-pane"
			id="allocation-@allocation.getId()">
			<div class="row">
				<form method="POST"
					action="@controllers.routes.AdminEditAllocationController.editAllocation().path()">
					<input type="hidden" name="allocationID"
						value="@allocation.getId()">
					<div class="col-sm-6 col-md-6">
						@for(team <- allocation.getTeams()) {
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>@team.getProject().getName() - Team
										#@team.getTeamNumber()</th>
								</tr>
							</thead>
							<tbody>
								@for(member <- team.getMembers()) {
								<tr>
									<td><input type="checkbox" name="selected-students[]"
										value="@member.getId()" id="@member.getId()"></td>
									<td>@member.getName()</td>
								</tr>
								}
							</tbody>
						</table>
						}
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>@Messages("admin.results.teamNonAllocatedStudents")</th>
								</tr>
							</thead>
							<tbody>
								@for(student <- allocation.getNotAllocatedStudents()) {
								<tr>
									<td><input type="checkbox" name="selected-students[]"
										value="@student.getId()" id="@student.getId()"></td>
									<td>@student.getName()</td>
								</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-1" for="rpw">@Messages("admin.results.to")</label>
							<div class="col-sm-3">
								<select name="project-selection" id="project-selection">
									@for(team <- allocation.getTeams()) {
									<option value="@team.getId()">@team.getProject().getName()
										- Team #@team.getTeamNumber()</option> }
									<option value="-1">@Messages("admin.results.teamNonAllocatedStudents")</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="move" class="btn btn-primary">@Messages("admin.results.moveMarkedStudents")</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="exchange" class="btn btn-primary">@Messages("admin.results.exchangeTwoStudents")</button>
							</div>
						</div>
					</div>
				</form>
				<div class="col-sm-6 col-md-6">
					<form
						action="@controllers.routes.AdminEditAllocationController.undoAllocationEdit().path()"
						method="POST">
						<input type="hidden" name="allocationID"
							value="@allocation.getId()">
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="remove" class="btn btn-primary">@Messages("admin.results.undoChange")</button>
							</div>
						</div>
					</form>
					<form
						action="@controllers.routes.AdminEditAllocationController.removeAllocation().path()"
						method="POST">
						<input type="hidden" name="allocationID"
							value="@allocation.getId()">
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="remove" class="btn btn-danger">@Messages("admin.results.removeAllocation")</button>
							</div>
						</div>
					</form>
					<form
						action="@controllers.routes.AdminEditAllocationController.duplicateAllocation().path()"
						method="POST">
						<input type="hidden" name="allocationID"
							value="@allocation.getId()">
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="duplicate" class="btn btn-warning">@Messages("admin.results.duplicateAllocation")</button>
							</div>
						</div>
					</form>
					<form
						action="@controllers.routes.AdminEditAllocationController.publishAllocation().path()"
						method="POST">
						<input type="hidden" name="allocationID"
							value="@allocation.getId()">
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" name="publish" class="btn btn-success">@Messages("admin.results.publishAllocation")</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		}
		<!-- Vergleichstab inhalt -->
		<div role="tabpanel" class="tab-pane" id="comparison">
			<div class="row">
				@for(alloc <- allocations) {
				<div class="col-sm-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>
								<small>@alloc.getName()</small>
							</h3>
						</div>
						<div class="panel-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>@Messages("admin.results.qualityCriterion")</th>
										<th>@Messages("admin.results.value")</th>
									</tr>
								</thead>
								<tbody>
									@for(criterion <- criteria) {
									<tr>
										<td>@criterion.getName(messages.lang().code())</td>
										<td>@criterion.calculate(alloc)</td>
									</tr>
									}
								</tbody>
							</table>
							<div class="panel-group" id="parameter-accordion-@alloc.getId()"
								role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab"
										id="heading-@alloc.getId()">
										<h4 class="panel-title">
											<small><a role="button" data-toggle="collapse"
												data-parent="#accordion" href="#collapse-@alloc.getId()"
												aria-expanded="true" aria-controls="collapse-@alloc.getId()">
													@Messages("admin.results.usedParameters")</a></small>
										</h4>
									</div>
									<div id="collapse-@alloc.getId()"
										class="panel-collapse collapse in" role="tabpanel"
										aria-labelledby="heading-@alloc.getId()">
										<div class="panel-body">
											<table class="table table-striped">
												<thead>
													<tr>
														<th>@Messages("admin.results.parameter")</th>
														<th>@Messages("admin.results.value")</th>
													</tr>
												</thead>
												<tbody>
													@* Code ist notwendig um den lokalisierten Namen zu
													bekommen. *@ 
													@for(criterion <- allocation.AllocationQueue.getInstance().getAllocator().getAllCriteria()) { 
														@for(parameter <- alloc.getParameters()) {
															@if(parameter.getName().equals(criterion.getName())) {
																<tr>
																	<th>@criterion.getDisplayName(ctx().lang().code())</th>
																	<th>@parameter.getValue()</th>
																</tr>
															} 
														} 
													}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</div>
