@*
 * Dies ist das Template das für alle Betreuer Seiten verwendet wird.
 * Als Parameter wird der Seiteninhalt übergeben.
 *@
@(menu: views.Menu)(content: Html)

@main(Messages("admin.title"), menu) {<a class="btn btn-primary btn-block" href='@org.pac4j.play.routes.ApplicationLogoutController.logout().path()' role="button">@Messages("logout")</a>
<a class="btn btn-primary btn-block" href='@controllers.routes.AdviserPageController.addProject()' role="button">@Messages("adviser.addProject")</a>
 } {@content}