@*
 * Dies ist das Template das für alle Betreuer Seiten verwendet wird.
 * Als Parameter wird der Seiteninhalt übergeben.
 * TODO: Temporary content
 *@
@(content: Html)

@main(Messages("admin.title"), {val map = new HashMap[String, String];
map.put(Messages("admin.sidebar.adviser"), controllers.routes.AdminPageController.adviserPage("").path());
map.put(Messages("admin.sidebar.projects"), controllers.routes.AdminPageController.projectPage("").path());
map.put(Messages("admin.sidebar.allocation"), controllers.routes.AdminPageController.allocationPage("").path());
map.put(Messages("admin.sidebar.results"), controllers.routes.AdminPageController.resultsPage("").path());
map.put(Messages("admin.sidebar.exportImport"), controllers.routes.AdminPageController.exportImportPage("").path());
map.put(Messages("admin.sidebar.studentEdit"), controllers.routes.AdminPageController.studentEditPage("").path());
map.put(Messages("admin.sidebar.properties"), controllers.routes.AdminPageController.propertiesPage("").path());
map}) {null} {@content}