@* * Diese Seite wird angezeigt, falls der Betreuer dem selektiertem
Projekt noch nicht beigetreten ist. Er bekommt Projektdaten angezeigt
und kann dem Projekt beitreten, damit er es editieren kann. *@
@(project: data.Project)
<h1>@project.getName()</h1>
<div>@project.getProjectInfo()</div>
<form
	action="@controllers.routes.AdviserPageController.joinProject().path()"
	method="POST" class="form-horizontal">
	@helper.CSRF.formField
	<input type="hidden" name="id" id="id" value="@project.getId()">
	<div class="form-group">
		<div class="col-sm-10">
			<button type="submit" id="joinProject" class="btn btn-primary">@Messages("adviser.joinProject")</button>
		</div>
	</div>
</form>