@* Diese Seite zeigt die Passwort-Zurücksetz-Seite an. *@
@()
<h1>@Messages("index.sidebar.pwReset")</h1>
<form
	action="@controllers.routes.IndexPageController.passwordResetForm().path()"
	method="POST" class="form-horizontal" role="form" data-toggle="validator">
	@helper.CSRF.formField
	<div class="form-group">
		<label class="control-label col-sm-2" for="email">@Messages("index.registration.form.email")</label>
		<div class="col-sm-3">
			<input type="text" id="email" class="form-control" name="email" required pattern="\S+@@\S+\.\S+">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="password">@Messages("student.account.newPassword")</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" name="password"
				id="password" required data-minlength="6">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="pwRepeat">@Messages("index.registration.form.pwRepeat")</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" name="pwRepeat"
				id="pwRepeat" required data-match="#password" data-minlength="6">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" name="pwReset" class="btn btn-primary">@Messages("index.pwReset")</button>
		</div>
	</div>
</form>
