@* * Dies ist das Template was für Index Seiten verwendet wird. * Als
Parameter wird der Inhalt der Seite übergeben. *@ @(menu: views.Menu)(content: Html)

@main(Messages("index.title"), menu) {
<!-- Sidebar content (loginForm) -->
<form action="/callback" method="POST" class="form-horizontal" role="form" data-toggle="validator">
<input type="hidden" name="client_name" value="FormClient">
@helper.CSRF.formField
	<div class="form-group">
		<label class="sr-only" for="login_username">@Messages("index.username")</label>
		<div class="col-sm-12">
			<input type="text" class="form-control" name="username"
				id="login_username" placeholder='@Messages("index.username")' required>
		</div>
	</div>
	<div class="form-group">
		<label class="sr-only" for="login_password">@Messages("index.password")</label>
		<div class="col-sm-12">
			<input type="password" class="form-control" name="password"
				id="login_password" placeholder='@Messages("index.password")' required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary btn-block">@Messages("index.login")</button>
		</div>
	</div>
</form>
<a href="@controllers.routes.IndexPageController.passwordResetPage()" class="btn btn-primary btn-block">@Messages("index.sidebar.pwReset")</a>
}{ @content }
