@* * Diese Seite zeigt die Projekteditierungsseite. * Als Parameter wird
das Projekt übergeben und die Information, * ob ein Admin oder ein
Betreuer die Seite angezeigt bekommt. *@ @(project: data.Project,
isAdviser: Boolean, advisers: List[data.Adviser])

<script type="text/javascript"
	src='@routes.Assets.versioned("javascripts/bootstrap-multiselect.js")'></script>
<link rel="stylesheet"
	href='@routes.Assets.versioned("stylesheets/bootstrap-multiselect.css")'
	type="text/css" />
<h1>@Messages("admin.projects.editProject")</h1>
@if(isAdviser) {
<form
	action="@controllers.routes.AdviserPageController.editProject().path()"
	method="POST" class="form-horizontal" role="form"
	data-toggle="validator">
	} else {
	<form
		action="@controllers.routes.AdminProjectController.editProject().path()"
		method="POST" class="form-horizontal" role="form"
		data-toggle="validator">
		} <input type="hidden" name="id" id="id" value="@project.getId()">
@helper.CSRF.formField
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">@Messages("admin.projects.name")</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="name" id="name"
					value="@project.getName()" required>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="url">@Messages("admin.projects.url")</label>
			<div class="col-sm-5">
				<input type="url" class="form-control" name="url" id="url"
					value="@project.getProjectURL()" required>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="institute">@Messages("admin.projects.institute")</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="institute"
					value="@project.getInstitute()" id="institute" required>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="description">@Messages("admin.projects.description")</label>
			<div class="col-sm-8">
				<textarea rows="8" class="form-control" name="description"
					id="description" required>@project.getProjectInfo()</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="teamCount">@Messages("admin.projects.numberOfTeams")</label>
			<div class="col-sm-1">
				<input type="number" class="form-control" name="teamCount"
					id="teamCount" value="@project.getNumberOfTeams()" required min="1">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="minSize">@Messages("admin.projects.minSize")</label>
			<div class="col-sm-1">
				<input type="number" class="form-control" name="minSize"
					id="minSize" value="@project.getMinTeamSize()" required min="0">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="maxSize">@Messages("admin.projects.maxSize")</label>
			<div class="col-sm-1">
				<input type="number" class="form-control" name="maxSize"
					id="maxSize" value="@project.getMaxTeamSize()" min="0"
					aria-describedby="helpBlock">
			</div>
			<span id="helpBlock" class="help-block">@Messages("admin.projects.helpText")</span>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#adviser-selection').multiselect({
					maxHeight : 300,
					numberDisplayed : 6
				});
			});
		</script>
		<div class="form-group">
			<label class="control-label col-sm-2" for="adviser-selection">@Messages("admin.projects.advisers")</label>
			<select id="adviser-selection" name="adviser-multiselect[]"
				class="form-control" multiple="multiple">
				@for(adviser <- advisers) {
				@if(project.getAdvisers().contains(adviser)) {
				<option selected value="@adviser.getId()">@adviser.getName()</option>
				} else {
				<option value="@adviser.getId()">@adviser.getName()</option> } }
			</select>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" id="edit_submit" class="btn btn-primary">@Messages("admin.projects.editProject")</button>
			</div>
		</div>
	</form>
	@if(isAdviser) {
	<form
		action="@controllers.routes.AdviserPageController.leaveProject().path()"
		method="POST" class="form-horizontal">
		@helper.CSRF.formField
		<input type="hidden" name="id" id="id2" value="@project.getId()">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" id="leaveProject" class="btn btn-warning">@Messages("adviser.leaveProject")</button>
			</div>
		</div>
	</form>
	<form
		action="@controllers.routes.AdviserPageController.removeProject().path()"
		method="POST" class="form-horizontal">
		@helper.CSRF.formField
		<input type="hidden" name="id" id="id3" value="@project.getId()">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" id="removeProject" class="btn btn-danger">@Messages("admin.projects.removeProject")</button>
			</div>
		</div>
	</form>
	} else {
	<form
		action="@controllers.routes.AdminProjectController.removeProject().path()"
		method="POST" class="form-horizontal">
		@helper.CSRF.formField
		<input type="hidden" name="id" id="id4" value="@project.getId()">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" id="removeProject" class="btn btn-danger">@Messages("admin.projects.removeProject")</button>
			</div>
		</div>
	</form>
	}