@* * Diese Seite zeigt die Tabelle zum bewerten dem Studenten an. * Als
Parameter wird die Liste an Projekten und eine Fehlermeldung übergeben.
*@ @(student: data.Student, projects:List[data.Project])
@if(flash.containsKey("error")) {
<div class="alert alert-danger" role="alert">@flash.get("error")</div>
} 
<h1>@Messages("student.sidebar.rating")</h1>

<form action="@controllers.routes.StudentPageController.rate().path()"
	method="POST">
<table class="table">
	<thead>
		<tr>
			<th>@Messages("student.rating.projectname")</th>
			@for(rating <- views.RatingDisplay.values()) {
				<th>@rating.getRepresentation()</th>
			}
		</tr>
	</thead>
	<tbody>
		<div class="panel-group" id="accordion" role="tablist"
			aria-multiselectable="true">@for(project <- projects) {
		<tr>
			<td><div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading-@project.getId()">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion"
								href="#collapse@project.getId()" aria-expanded="true"
								aria-controls="collapse@project.getId()">@project.getName()<br><small>@project.getInstitute()</small></a>
						</h4>
					</div>
					<div id="collapse@project.getId()" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="heading-@project.getId()">
						<div class="panel-body">
						<h5><small><a href="@project.getProjectURL()">@project.getProjectURL()</a></small></h5>
						@project.getProjectInfo()
						</div>
					</div>
				</div></td>
			@for(rating <- views.RatingDisplay.values()) {
				@if(data.GeneralData.loadInstance().getCurrentSemester().getLearningGroupOf(student).getRating(project) == rating.getNumber()) {
					<td><input type="radio" checked name="@project.getId()" value="@rating.getNumber()"></td>
				} else {
					<td><input type="radio" name="@project.getId()" value="@rating.getNumber()"></td>
				}
			}
		</tr>
		}
	</tbody>
</table>
	<button type="submit" class="btn btn-default">@Messages("student.rating.submit")</button>
</form>
