@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(content: Html)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(Messages("student.title"), {val map = new HashMap[String, String];
map.put(Messages("student.sidebar.learningGroup"), controllers.routes.StudentPageController.learningGroupPage("").path());
map.put(Messages("student.sidebar.rating"), controllers.routes.StudentPageController.ratingPage("").path());
map.put(Messages("student.sidebar.results"), controllers.routes.StudentPageController.resultsPage("").path());
map.put(Messages("student.sidebar.account"), controllers.routes.StudentPageController.accountPage("").path());
map}) {null} {@content}