@(project:data.Student, error: String)

<h1>@Messages("student.sidebar.account")</h1>
<form>
	<input type=text value=@Messages("student.account.newEmail") name=newEmail>
	<input type=submit value=@Messages("student.student.change") name=submitNewEmail><br><br>
	<label>@Messages("student.account.newPassword")</label><br>
	<input type=text name=newPassword><br>
	<label>@Messages("student.account.newPasswordRepeat")</label><br>
	<input type=text name=newPasswordRepeat><br>
	<input type=submit value=@Messages("student.student.change")><br><br>
</form>
