@(projects:List[data.Project], error: String)
<h1>@Messages("admin.sidebar.rating")</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>@Messages("student.rating.projectname")</th>
			<th>--</th>
			<th>-</th>
			<th>0</th>
			<th>+</th>
			<th>++</th>
		</tr>
	</thead>
	<tbody>
		@for(project <- projects) {
		<tr>
			<td>@project.getName()</td>
			<td><input type="radio" name=@project.getName()</td>
			<td><input type="radio" name=@project.getName()</td>
			<td><input type="radio" name=@project.getName()</td>
			<td><input type="radio" name=@project.getName()</td>
			<td><input type="radio" name=@project.getName()</td>
		</tr>
		}
	</tbody>
</table>
<form action="@controllers.routes.StudentPageController.rate().path()" method="POST">
	<input type=submit value=@Messages("student.rating.submit")>
</form>
