@(learningGroup:data.LearningGroup)

<h1>@Messages("admin.sidebar.learningGroup")</h1>

@if(learningGroup.isPrivate()) {
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Lerngruppenmitglieder</th>
		</tr>
	</thead>
	<tbody>
		@for(member <- learningGroup.getMembers()) {
		<tr>
			<td>@member.getFirstName() + " " + @member.getLastName()</td>
		</tr>
		}
	</tbody>
</table>
	<input type=submit" value="leave">
} else {
	<form>
		Name der Lerngruppe:
		<br>
		<input type=text name="learningGroupname" value="">
		<br>
		Passwort:
		<br>
		<input name="learningGroupPassword" value="">
		<br>
	</form>
	<input type=submit	"value="Lerngruppe erstellen">
	<input type=submit "value="Lerngruppe beitreten">
}	
