@* * Diese Seite zeigt das Ergebnis dem Studenten an. * Als Parameter
wird das Projekt und eine Fehlermeldung übergeben. *@ @(team:data.Team) 
@if(flash.containsKey("error")) {
<div class="alert alert-danger" role="alert">@flash.get("error")</div>
} 
<h1>@Messages("student.sidebar.results")</h1>
<h3>@team.getProject().getName()</h3>
<p>
	<a href="@team.getProject().getProjectURL()">@Messages("student.result.link")</a>
</p>
<div>
	<h3>
		<small>@Messages("student.result.information")</small>
	</h3>
	<div>@team.getProject().getProjectInfo()</div>
</div>
<div>
	<h3>
		<small>@Messages("student.result.members")</small>
	</h3>
	<table class="table table-striped">
		<tbody>
			@for(member <- team.getMembers()) {
			<tr>
				<td>@member.getName()</td>
			</tr>
			}
		</tbody>
	</table>
</div>
