@* * Diese Seite zeigt die Accountseite dem Studenten an. * Als
Parameter wird der Student und eine Fehlermeldung übergeben. *@
@(project:data.Student)
<h1>@Messages("student.sidebar.account")</h1>
<form
	action="@controllers.routes.StudentPageController.editAccount().path()"
	method="POST" class="form-horizontal" role="form" data-toggle="validator">
	@helper.CSRF.formField
	<div class="form-group">
		<label class="control-label col-sm-2" for="newEmail">@Messages("student.account.newEmail")</label>
		<div class="col-sm-3">
			<input type="email" id="newEmail" class="form-control" name="newEmail" required pattern="\S+@@\S+\.\S+">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" name="emailChange" id="submit_emailChange" class="btn btn-primary">@Messages("student.account.emailChange")</button>
		</div>
	</div>
</form>
<form
	action="@controllers.routes.StudentPageController.editAccount().path()"
	method="POST" class="form-horizontal" role="form" data-toggle="validator">
	@helper.CSRF.formField
	<div class="form-group">
		<label class="control-label col-sm-2" for="oldPassword">@Messages("adviser.account.oldPassword")</label>
		<div class="col-sm-3">
			<input class="form-control" type="password" name="oldPassword"
				id="oldPassword" required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="newPassword">@Messages("student.account.newPassword")</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" name="newPassword"
				id="newPassword" required data-minlength="6">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="newPasswordRepeat">@Messages("student.account.newPasswordRepeat")</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" name="newPasswordRepeat"
				id="newPasswordRepeat" required data-match="#newPassword" data-minlength="6">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" name="passwordChange" id="submit_passwordChange" class="btn btn-primary">@Messages("student.account.pwChange")</button>
		</div>
	</div>
</form>
<div>
	<a class="btn btn-primary" id="submit_reverify"
		href="@controllers.routes.StudentPageController.sendNewVerificationLink().path()">@Messages("student.account.sendNewVerificationLink")</a>
</div>
