@* * Diese Seite zeigt die Accountseite dem Studenten an. * Als
Parameter wird der Student und eine Fehlermeldung übergeben. *@
@(project:data.Student, error: String) @if(!error.isEmpty()){
<div class="alert alert-danger" role="alert">@error</div>
}
<h1>@Messages("student.sidebar.account")</h1>
<form
	action="@controllers.routes.StudentPageController.editAccount().path()"
	method="POST" class="form-horizontal">
	<div class="form-group">
		<label for="newEmail">@Messages("student.account.newEmail")</label><input
			type="text" id="newEmail" name="newEmail">
	</div>
	<div class="form-group">
		<button type="submit" name="emailChange">@Messages("student.student.emailChange")</button>
	</div>
	<div class="form-group">
		<label>@Messages("student.account.newPassword")</label><input
			type="password" name="newPassword">
	</div>
	<div class="form-group">
		<label>@Messages("student.account.newPasswordRepeat")</label><input
			type="password" name="newPasswordRepeat">
	</div>
	<div class="form-group">
		<button type="submit" name="passwordChange">@Messages("student.account.pwChange")</button>
	</div>
</form>
<div>
	<a
		href="@controllers.routes.StudentPageController.sendNewVerificationLink().path()">@Messages("student.account.sendNewVerificationLink")</a>
</div>
