@*
 * Dieses Template wir dvon allen Studentenseiten verwendet und 
 * nimmt als Parameter den eigentlichen Content entgegen.
 *@
@(content: Html)

@main(Messages("student.title"), {val map = new HashMap[String, String];
map.put(Messages("student.sidebar.learningGroup"), controllers.routes.StudentPageController.learningGroupPage("").path());
map.put(Messages("student.sidebar.rating"), controllers.routes.StudentPageController.ratingPage("").path());
map.put(Messages("student.sidebar.results"), controllers.routes.StudentPageController.resultsPage("").path());
map.put(Messages("student.sidebar.account"), controllers.routes.StudentPageController.accountPage("").path());
map}) {null} {@content}